In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
conn = engine.connect()

In [5]:
# reflect an existing database into a new model
base = automap_base()
base.prepare(engine, reflect=True)

# reflect the tables

In [6]:
# View all of the classes that automap found
base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table
Measurement = base.classes.measurement
Station = base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session=Session(engine)

# Exploratory Precipitation Analysis

In [9]:
# Find the most recent date in the data set.
last_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()

print(last_date)

('2017-08-23',)

In [10]:
read_data = []

for row in session.query(Measurement.date):
        
    read_data = ({
        
        "station" : session.query(Measurement.station),
        "date" : session.query(Measurement.date),
        "precip" : session.query(Measurement.prcp),
        "tobs" : session.query(Measurement.tobs)
    })
    
   

rain_df = pd.DataFrame(read_data)

rain_df.head()

         station          date  precip    tobs
0  (USC00519397)  (2010-01-01)  (0.08)  (65.0)
1  (USC00519397)  (2010-01-02)   (0.0)  (63.0)
2  (USC00519397)  (2010-01-03)   (0.0)  (74.0)
3  (USC00519397)  (2010-01-04)   (0.0)  (76.0)
4  (USC00519397)  (2010-01-06)  (None)  (73.0)

In [12]:
rain_df.dtypes

station    object
date       object
precip     object
tobs       object
dtype: object

In [18]:
rain_df['station'] = rain_df['station'].map(lambda x: x.lstrip("('").rstrip("',)"))
rain_df['date'] = rain_df['date'].map(lambda x: x.lstrip("('").rstrip("',)"))
rain_df['precip'] = rain_df['precip'].map(lambda x: x.lstrip("('").rstrip("',)"))
rain_df['tobs'] = rain_df['tobs'].map(lambda x: x.lstrip("('").rstrip("',)"))

rain_df.head()

       station        date precip  tobs
0  USC00519397  2010-01-01   0.08  65.0
1  USC00519397  2010-01-02    0.0  63.0
2  USC00519397  2010-01-03    0.0  74.0
3  USC00519397  2010-01-04    0.0  76.0
4  USC00519397  2010-01-06   None  73.0

In [19]:
rain_df.dtypes

station    object
date       object
precip     object
tobs       object
dtype: object

In [20]:
rain_df.station = rain_df.station.astype('string')
rain_df.date = rain_df.date.astype('string')
rain_df.tobs = rain_df.tobs.astype('string')
rain_df.precip = rain_df.precip.astype('string')
rain_df.dtypes

station    string
date       string
precip     string
tobs       string
dtype: object

In [25]:
#date_stamp = date_stamp.astype("float")

rain_df["date"] = pd.to_datetime(rain_df["date"])


rain_df.dtypes

station            string
date       datetime64[ns]
precip             string
tobs               string
dtype: object

In [ ]:
rain_df.set_index('date').join(date_stamp)

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()